/* Estilos para el encabezado */
*{
    background-color: #c367c3;
}

.fa{
    font-size: 44px;
}

header {
    background-color: #c367c3;
    padding: 10px;
}


label {
    color: #650254;
}

h1 {
    color: #d02892;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #f3f0f7;
    font-size: 16px;
    text-align: center;
}
ul {
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #efe3ed;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Contacto*/
#contacto {
    background-color: rgb(220, 153, 237);
}

.contacto__titulo {
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 15px;
    text-align: center;

}

.contacto__texto {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.contacto__item {
    background-color: rgb(241, 130, 11);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
}

.contacto__descripcion {
    margin-bottom: 5px;
}

.contacto__contenedor {
    width: 80%;
    margin: 0 auto;
}

.contacto__input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border: none;
    outline-style: none;
    background-color: #755a7c;
    color: white;
}

.contacto__input::placeholder {
    color: white;
    opacity: 50%;
}

.contacto__boton {
    width: 100%;
    padding: 15px 0;
    border-radius: 15px;
    margin: 20px 0px;
    background-color: #d35f7c;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgb(237, 228, 228);
    font-size: 1rem;
    outline-style: none;
    border: none;
    transition: all 300ms;
}

.contacto__boton:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 20px #ecff1d9e;
}

.contacto__input-mensaje {
    resize: none;
}

.contacto__Info__datos {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    display: none;
    text-shadow: 0 0 20px white;
}

.contacto__errores {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: red;
}

.mostrar {
    display: block;
}


/*RESPONSIVE*/

/*Mobile*/
@media (min-width: 360px) {
    .contacto__contenedor {
            width: 90%;
            margin: 0 auto;
        }
}



/*Tablet*/
@media (min-width: 768px) {
    .contacto__contenedor {
            width: 90%;
            margin: 0 auto;
        }
}


/*Footer*/
/*Footer*/

.footer {
    padding: 20px 0;
    margin-left: auto;
}

.footer__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nombre {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 0 15px;
}

.footer__logo {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    color: #000000;
    text-decoration: none;

}

.footer__logo:hover {
    text-decoration: underline;
}


/*RESPONSIVE*/

/*Mobile*/
@media (min-width: 425px) {}



/*Tablet*/
@media (min-width: 768px) {}